
<!-- <mat-divider></mat-divider> -->
<div class="cardsCntnr">
<mat-card class="card one">
    <mat-card-header>
      <div class="header"></div>
      <div class="inline">
      <mat-card-subtitle><h3>Cars</h3></mat-card-subtitle>
      <mat-card-title><h1>With Features</h1></mat-card-title>
      </div>
    </mat-card-header>
    
    <img mat-card-image [src]="img1" alt="Photo of a Mini Cooper">
    <mat-card-content>
      <p>
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born 
          and I will give you a complete account of the system, and expound the actual teachings of the great 
          explorer of the truth, the master-builder of human happiness. 
          No one rejects, dislikes, or avoids pleasure 
          itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
          Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
          but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card two">
      <mat-card-header>
        <div class="header"></div>
        <div class="inline">
        <mat-card-subtitle><h3>Feelings</h3></mat-card-subtitle>
        <mat-card-title><h1>Of Comfort</h1></mat-card-title>
        </div>
      </mat-card-header>
      
      <img mat-card-image [src]="img2" alt="Photo of a Mini Cooper">
      <mat-card-content>
        <p>
          Aliquam venenatis at galliano matador ultrices pharetra. 
          Phasellus amaretto sour tempus, tristique quisque malesuada strathisla hurricane. 
          Semper ti punch. Proin morbi glogg cosmopolitan gravida suscipit glen grant ut glentauchers brass monkey potenti lacinia id mortlach. 
          Erat, libero; convallis congue quam et nunc, old mr. boston hendrerit skyy, "tortor aviation, fames proin jack and coke."
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card three">
      <mat-card-header>
        <div class="header"></div>
        <div class="inline">
        <mat-card-subtitle><h3>Service</h3></mat-card-subtitle>
        <mat-card-title><h1>Like No Other</h1></mat-card-title>
        </div>
      </mat-card-header>
      
      <img mat-card-image [src]="img3" alt="Photo of a Mini Cooper">
      <mat-card-content>
        <p>
            Thought partnership inspire triple bottom line social return on investment global youth inspire. 
            Collaborative consumption silo social capital paradigm shared value move the needle collaborative cities grit effective altruism. 
            Social intrapreneurship optimism white paper, philanthropy move the needle empower shared unit of analysis co-create outcomes. 
            social enterprise social innovation ideate parse. 
            Entrepreneur, a overcome injustice strengthening infrastructure support. 
            Do-gooder revolutionary, transparent, strategize, communities leverage. 
            Inclusive human-centered then state of play impact inclusion peaceful living a fully ethical life blended value.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
  <br> <br>
  <mat-divider></mat-divider>